<!DOCTYPE html>
<html>
  <head>
    <title>Candy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-flouid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <h3>Candy App</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

            </ul>

            <%= turbo_stream_from current_user %>
            <div id="notifications">
              <%= render current_user.notifications.unseen %>
            </div>

            <%= link_to 'Sign out', destroy_user_session_path, class:'btn btn-outline-danger mr-2', data: { turbo_method: :delete } %>

          </div>
        </div>
      </nav>
    </div>

    <% if alert %>
      <div class="alert alert-fixed alert-danger"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="alert alert-fixed alert-primary fade show">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
